*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

.form{
	width: 40%;
	margin: auto;
	border: 2px solid green;
	padding: 50px;
	border-radius: 10px;
	margin-top: 150px;
}
.all-data{
	width: 700px;
	margin: 50px auto 0;
	padding: 20px;
	border: 2px solid green;

}

.login-form{
	width: 360px;
	padding: 20px;
	border-radius: 10px;
	margin: auto;
	margin-top: 150px;	
}